
/search/ @RobertWu-TomTom
/search/**/api/current.txt @RobertWu-TomTom

@RobertWu-TomTom
!/search/structured-search*

/search/structured-search* @timliu-tomtom
/search/structured-search*/**/api/current.txt @timliu-tomtom
